In [ ]:
# time-series vars

In [1]:
import hbv
import pandas as pd
import numpy as np

from star import star_vars
from itertools import combinations

In [2]:
# helper functions
def apply_unique(func, df, axis=1, *args, **kwargs):
    '''Apply a function to unique rows of a DataFrame
    for efficiency.'''

    applied_df = df.merge(df.drop_duplicates()
                         .assign(**{func.__name__: lambda x: x.apply(func, 
                                                                     axis=axis, 
                                                                     result_type='expand',
                                                                     **kwargs)}), 
                         how='left')
    applied_df.index = df.index
    
    return applied_df
    
    
def scale(df, bounds, axis=1, *args, **kwargs):
    '''scale the sampled matrix
    bounds is a dict with ['ub', 'lb'] keys
    the values are lists of the upper and lower bounds
    of the parameters/variables/factors'''
    
    # numpy equivalent for math operations
    bounds_np = {key:np.array(value) for key,value in bounds.items()}
    
    if axis:
        return df * (bounds_np['ub'] - bounds_np['lb']) + bounds_np['lb']
    else:
        return df.T * (bounds_np['ub'] - bounds_np['lb']) + bounds_np['lb']
    
    
def pairs_h(iterable):
    '''gives the pairs of numbers considering their differences'''
    interval = range(min(iterable), max(iterable)-min(iterable))
    pairs  = {key+1:[j for j in combinations(iterable, 2) if np.abs(j[0]-j[1])==key+1] for key in interval}
    return pairs
    
    
def section_df(df):
    '''gets the paired values of each section based on index'''
    pairs = pairs_h(df.index.get_level_values(-1))
    df_values = df.to_numpy()
    sample = pd.concat({h:
                    pd.DataFrame.from_dict({str(idx_tup): [df_values[idx_tup[0]].item(), 
                                                           df_values[idx_tup[1]].item()] 
                                            for idx_tup in idx}, 
                                           'index') \
                      for h, idx in pairs.items()})

    return sample
    
    
# lambda functions
'''covariogram of each section'''
cov_section = lambda pair_cols, mu_star: (pair_cols.sub(mu_star, axis=0)[0] * pair_cols.sub(mu_star, axis=0)[1]).groupby(level=['ts', 'centre', 'param', 'h']).mean()

'''variogram over all sections'''
variogram = lambda pair_cols: 0.5*(pair_cols[0] - pair_cols[1]).pow(2).groupby(level=['ts', 'param', 'h']).mean()

'''morris sensitivity measure equivalent evaluated over all sections'''
morris_eq = lambda pair_cols: ((pair_cols[1] - pair_cols[0]).abs().groupby(level=['ts', 'param', 'h']).mean(), \
                               (pair_cols[1] - pair_cols[0]).groupby(level=['ts', 'param', 'h']).mean())

'''covariogram over all sections'''
covariogram = lambda pair_cols, mu_overall: (pair_cols[0].sub(mu_overall, level=0) * pair_cols[1].sub(mu_overall, level=0)).groupby(level=['ts', 'param', 'h']).mean()

'''expected covariogram over all sections'''
e_covariogram = lambda cov_section_all: cov_section_all.groupby(level=['ts', 'param', 'h']).mean()

'''sobol (total order) sensitivity measure equivalent evaluated over all sections'''
sobol_eq = lambda gamma, ecov, variance: (gamma + ecov).div(variance, level='ts').loc[:, :, 1]

# ivars function
def ivars(variogram_array, scale, delta_h):
    '''generate Integrated Variogram Across a Range of Scales (IVARS)
    by approximating area using right trapezoids having width of `delta_h`
    and hights of variogram values'''
    num_h  = len(variogram_value.index.levels[-1].to_list())
    x_bench= np.arange(start=0, stop=delta_h*(num_h+1), step=delta_h)
    x_int  = np.arange(start=0, stop=(scale*10+1)/10, step=delta_h)

    # calculate interpolated values for both x (h) and y (variogram)
    if x_int[-1] < scale:
        x_int.append(scale)
    y_bench= [0] + variogram_array.to_list()

    y_int  = np.interp(x=x_int, xp=x_bench, fp=y_bench)
    
    # for loop for each step size to caluclate the area
    ivars = 0
    for i in range(len(x_int)-1):
        ivars += 0.5*(y_int[i+1] + y_int[i]) * (x_int[i+1] - x_int[i])

    return ivars

# alias
idx = pd.IndexSlice

In [3]:
delta_h = 0.1
rng = np.random.default_rng(seed=100)
star_centres = rng.random((2, 12))
star_points  = star_vars(star_centres, 
                         delta_h=delta_h, 
                         parameters=['TT', 
                                     'C0',
                                     'ETF',
                                     'LP',
                                     'FC',
                                     'beta',
                                     'FRAC',
                                     'K1',
                                     'alpha',
                                     'K2',
                                     'UBAS',
                                     'PM'
                                    ], 
                         rettype='DataFrame')

bounds = {'lb':[-4, 0, 0, 0, 50,  1, 0.1, 0.05, 1, 0,    1, 0.5],
          'ub':[+4,10, 1, 1, 500, 3, 0.9, 1,    3, 0.05, 3, 2  ]}

star_points.columns = ['TT', 
                       'C0',
                       'ETF',
                       'LP',
                       'FC',
                       'beta',
                       'FRAC',
                       'K1',
                       'alpha',
                       'K2',
                       'UBAS',
                       'PM'
                      ]

star_points_scaled = scale(star_points, bounds)

In [4]:
par_values ={
    'TT':4.0,
    'C0':1.0,
    'ETF':0.1,
    'LP':0.3,
    'FC':500.0,
    'beta':2.0,
    'FRAC':0.7,
    'K1':0.05,
    'alpha':1.5,
    'K2':0.01,
    'UBAS':1.0,
    'PM':1.0,
}

In [5]:
star_points_scaled

              TT        C0       ETF        LP          FC      beta  \
0 TT 0 -3.720147  5.965540  0.288863  0.042952  488.144478  2.192943
     1 -2.920147  5.965540  0.288863  0.042952  488.144478  2.192943
     2 -2.120147  5.965540  0.288863  0.042952  488.144478  2.192943
     3 -1.320147  5.965540  0.288863  0.042952  488.144478  2.192943
     4 -0.520147  5.965540  0.288863  0.042952  488.144478  2.192943
...          ...       ...       ...       ...         ...       ...
1 PM 5  1.034185  5.810365  0.599912  0.535248  498.099697  2.003892
     6  1.034185  5.810365  0.599912  0.535248  498.099697  2.003892
     7  1.034185  5.810365  0.599912  0.535248  498.099697  2.003892
     8  1.034185  5.810365  0.599912  0.535248  498.099697  2.003892
     9  1.034185  5.810365  0.599912  0.535248  498.099697  2.003892

            FRAC        K1     alpha        K2      UBAS        PM
0 TT 0  0.732211  0.914822  2.376309  0.009500  2.962958  0.927110
     1  0.732211  0.914822  2.376309  0.009500  2.962958  0.927110
     2  0.732211  0.914822  2.376309  0.009500  2.962958  0.927110
     3  0.732211  0.914822  2.376309  0.009500  2.962958  0.927110
     4  0.732211  0.914822  2.376309  0.009500  2.962958  0.927110
...          ...       ...       ...       ...       ...       ...
1 PM 5  0.716818  0.519454  2.995349  0.048931  1.787136  1.282888
     6  0.716818  0.519454  2.995349  0.048931  1.787136  1.432888
     7  0.716818  0.519454  2.995349  0.048931  1.787136  1.582888
     8  0.716818  0.519454  2.995349  0.048931  1.787136  1.732888
     9  0.716818  0.519454  2.995349  0.048931  1.787136  1.882888

[240 rows x 12 columns]

In [6]:
# defining model
def model(par_vals, basin='banff'):
    return hbv.HBV_SASK(par_vals, basin)[0]['Q_cms'][0:10]

In [7]:
model(par_values)

1950-01-01    9.072358
1950-01-02    8.214854
1950-01-03    7.494817
1950-01-04    6.884789
1950-01-05    6.363708
1950-01-06    5.915219
1950-01-07    5.526482
1950-01-08    5.187321
1950-01-09    4.889590
1950-01-10    4.626717
Name: Q_cms, dtype: float64

In [8]:
# df = apply_unique(ishigami, star_points_scaled, axis=1) this bit needs to be corrected, the block doesn't work.
# df = apply_unique(model, star_points_scaled, axis=1)
# df.index.names=['centre', 'param', 'points']

In [9]:
# serial version
df = star_points_scaled.apply(model, axis=1, result_type='expand')
df

        1950-01-01  1950-01-02  1950-01-03  1950-01-04  1950-01-05  \
0 TT 0   19.627838   44.803788   18.329532    2.327651     2.30554
     1   19.627838   44.803788   18.329532    2.327651     2.30554
     2   19.627838   44.803788   18.329532    2.327651     2.30554
     3   19.627838   44.803788   18.329532    2.327651     2.30554
     4   19.627838   44.803788   18.329532    2.327651     2.30554
...            ...         ...         ...         ...         ...
1 PM 5   58.632649   41.082487   11.159859   10.613795    10.09445
     6   58.632649   41.082487   11.159859   10.613795    10.09445
     7   58.632649   41.082487   11.159859   10.613795    10.09445
     8   58.632649   41.082487   11.159859   10.613795    10.09445
     9   58.632649   41.082487   11.159859   10.613795    10.09445

        1950-01-06  1950-01-07  1950-01-08  1950-01-09  1950-01-10
0 TT 0    2.283638    2.261944    2.240457    2.219173    2.198092
     1    2.283638    2.261944    2.240457    2.219173    2.198092
     2    2.283638    2.261944    2.240457    2.219173    2.198092
     3    2.283638    2.261944    2.240457    2.219173    2.198092
     4    2.283638    2.261944    2.240457    2.219173    2.198092
...            ...         ...         ...         ...         ...
1 PM 5    9.600518    9.130754    8.683976    8.259060    7.854935
     6    9.600518    9.130754    8.683976    8.259060    7.854935
     7    9.600518    9.130754    8.683976    8.259060    7.854935
     8    9.600518    9.130754    8.683976    8.259060    7.854935
     9    9.600518    9.130754    8.683976    8.259060    7.854935

[240 rows x 10 columns]

In [10]:
df.index.names = ['centre', 'param', 'point']

In [11]:
ts_pair = lambda ts: ts.groupby(level=['centre', 'param']).apply(section_df)

In [12]:
# # serial

# pair_df = df.groupby(level=0, axis=1).apply(ts_pair)
# pair_df.index.names = ['centre', 'param', 'h', 'pair_ind']
# pair_df.columns.names = ['ts', None]
# pair_df

In [13]:
# parallel version
from joblib import Parallel, delayed
import multiprocessing

def temp_func(func, name, group):     
    return func(group), name

def applyParallel(dfGrouped, func):
    retLst, top_index = zip(*Parallel(n_jobs=multiprocessing.cpu_count())\
                                (delayed(temp_func)(func, name, group) \
                            for name, group in dfGrouped))
    return pd.concat(retLst, keys=top_index)

In [14]:
pair_df = applyParallel(df.groupby(level=0, axis=1), ts_pair)
pair_df.index.names = ['ts', 'centre', 'param', 'h', 'pair_ind']
# pair_df = pair_df.stack().unstack(level=['ts', -1])
pair_df

                                            0          1
ts         centre param h pair_ind
1950-01-01 0      TT    1 (0, 1)    19.627838  19.627838
                          (1, 2)    19.627838  19.627838
                          (2, 3)    19.627838  19.627838
                          (3, 4)    19.627838  19.627838
                          (4, 5)    19.627838  19.627838
...                                       ...        ...
1950-01-10 1      PM    7 (1, 8)     7.854935   7.854935
                          (2, 9)     7.854935   7.854935
                        8 (0, 8)     7.854935   7.854935
                          (1, 9)     7.854935   7.854935
                        9 (0, 9)     7.854935   7.854935

[10800 rows x 2 columns]

# VARS functions
Common VARS functions to be applied to each column

In [15]:
df

                    1950-01-01  1950-01-02  1950-01-03  1950-01-04  \
centre param point
0      TT    0       19.627838   44.803788   18.329532    2.327651
             1       19.627838   44.803788   18.329532    2.327651
             2       19.627838   44.803788   18.329532    2.327651
             3       19.627838   44.803788   18.329532    2.327651
             4       19.627838   44.803788   18.329532    2.327651
...                        ...         ...         ...         ...
1      PM    5       58.632649   41.082487   11.159859   10.613795
             6       58.632649   41.082487   11.159859   10.613795
             7       58.632649   41.082487   11.159859   10.613795
             8       58.632649   41.082487   11.159859   10.613795
             9       58.632649   41.082487   11.159859   10.613795

                    1950-01-05  1950-01-06  1950-01-07  1950-01-08  \
centre param point
0      TT    0         2.30554    2.283638    2.261944    2.240457
             1         2.30554    2.283638    2.261944    2.240457
             2         2.30554    2.283638    2.261944    2.240457
             3         2.30554    2.283638    2.261944    2.240457
             4         2.30554    2.283638    2.261944    2.240457
...                        ...         ...         ...         ...
1      PM    5        10.09445    9.600518    9.130754    8.683976
             6        10.09445    9.600518    9.130754    8.683976
             7        10.09445    9.600518    9.130754    8.683976
             8        10.09445    9.600518    9.130754    8.683976
             9        10.09445    9.600518    9.130754    8.683976

                    1950-01-09  1950-01-10
centre param point
0      TT    0        2.219173    2.198092
             1        2.219173    2.198092
             2        2.219173    2.198092
             3        2.219173    2.198092
             4        2.219173    2.198092
...                        ...         ...
1      PM    5        8.259060    7.854935
             6        8.259060    7.854935
             7        8.259060    7.854935
             8        8.259060    7.854935
             9        8.259060    7.854935

[240 rows x 10 columns]

In [16]:
# mu_star calculation
mu_star_df = df.groupby(level=['centre','param']).mean().stack().reorder_levels(order=[2,0,1]).sort_index()
mu_star_df.index.names = ['ts', 'centre', 'param']
mu_star_df

ts          centre  param
1950-01-01  0       C0       19.627838
                    ETF      19.627838
                    FC       19.627838
                    FRAC     19.627838
                    K1       17.859110
                               ...
1950-01-10  1       PM        7.854935
                    TT        7.854935
                    UBAS      7.854935
                    alpha     7.896263
                    beta      7.854935
Length: 240, dtype: float64

In [17]:
# overall mu (mean) of the unique evaluated function values over all stars points
mu_overall = df.apply(lambda x: np.mean(list(np.unique(x))))
mu_overall

1950-01-01    41.930056
1950-01-02    39.802560
1950-01-03    14.106446
1950-01-04     6.904408
1950-01-05     6.460568
1950-01-06     6.128428
1950-01-07     5.851070
1950-01-08     5.605988
1950-01-09     5.382639
1950-01-10     5.175447
dtype: float64

In [18]:
# overall var (variance) of the unique evaluated function values over all stars points
var_overall = df.apply(lambda x: np.var(list(np.unique(x)), ddof=1))
var_overall

1950-01-01    331.641870
1950-01-02    157.294621
1950-01-03     64.658634
1950-01-04     13.290179
1950-01-05     10.480466
1950-01-06      8.902625
1950-01-07      7.764478
1950-01-08      6.842385
1950-01-09      6.055239
1950-01-10      5.367085
dtype: float64

In [19]:
# variogram
variogram_value = variogram(pair_df)
variogram_value

ts          param  h
1950-01-01  TT     1    0.0
                   2    0.0
                   3    0.0
                   4    0.0
                   5    0.0
                       ...
1950-01-10  PM     5    0.0
                   6    0.0
                   7    0.0
                   8    0.0
                   9    0.0
Length: 1080, dtype: float64

In [20]:
# sectional covariogram
cov_section_ts_all = cov_section(pair_df, mu_star_df)
cov_section_ts_all

ts          centre  param  h
1950-01-01  0       C0     1    0.0
                           2    0.0
                           3    0.0
                           4    0.0
                           5    0.0
                               ...
1950-01-10  1       beta   5    0.0
                           6    0.0
                           7    0.0
                           8    0.0
                           9    0.0
Length: 2160, dtype: float64

In [21]:
# morris values
morris_values = morris_eq(pair_df)
display('morris absolute: ', morris_values[0])
display('morris: ', morris_values[1])

'morris absolute: '

ts          param  h
1950-01-01  TT     1    0.0
                   2    0.0
                   3    0.0
                   4    0.0
                   5    0.0
                       ...
1950-01-10  PM     5    0.0
                   6    0.0
                   7    0.0
                   8    0.0
                   9    0.0
Length: 1080, dtype: float64

'morris: '

ts          param  h
1950-01-01  TT     1    0.0
                   2    0.0
                   3    0.0
                   4    0.0
                   5    0.0
                       ...
1950-01-10  PM     5    0.0
                   6    0.0
                   7    0.0
                   8    0.0
                   9    0.0
Length: 1080, dtype: float64

In [22]:
# overall covariogram calculation
covariogram_value = covariogram(pair_df, mu_overall)
covariogram_value.unstack(level=[0,1])

ts     1950-01-01                                                              \
param          TT          C0         ETF          LP          FC        beta
h
1      388.182774  388.182774  388.182774  388.182774  388.182774  388.182774
2      388.182774  388.182774  388.182774  388.182774  388.182774  388.182774
3      388.182774  388.182774  388.182774  388.182774  388.182774  388.182774
4      388.182774  388.182774  388.182774  388.182774  388.182774  388.182774
5      388.182774  388.182774  388.182774  388.182774  388.182774  388.182774
6      388.182774  388.182774  388.182774  388.182774  388.182774  388.182774
7      388.182774  388.182774  388.182774  388.182774  388.182774  388.182774
8      388.182774  388.182774  388.182774  388.182774  388.182774  388.182774
9      388.182774  388.182774  388.182774  388.182774  388.182774  388.182774

ts                                                     ... 1950-01-10  \
param        FRAC          K1       alpha          K2  ...        ETF
h                                                      ...
1      388.182774  420.033744  364.210132  231.042384  ...   8.022148
2      388.182774  412.836866  361.354723  227.598634  ...   8.022148
3      388.182774  416.358880  357.522790  223.625075  ...   8.022148
4      388.182774  421.054897  352.412793  219.121709  ...   8.022148
5      388.182774  427.629322  345.258797  214.088534  ...   8.022148
6      388.182774  437.490959  334.527802  208.525552  ...   8.022148
7      388.182774  453.927020  316.642812  202.432763  ...   8.022148
8      388.182774  486.799144  281.050577  195.810165  ...   8.022148
9      388.182774  528.201778  250.468343  188.657759  ...   8.022148

ts                                                                            \
param        LP        FC      beta      FRAC        K1     alpha         K2
h
1      8.022148  8.022148  8.022148  8.022148  7.611113  8.119570   3.735187
2      8.022148  8.022148  8.022148  8.022148  7.619014  8.091522   2.439784
3      8.022148  8.022148  8.022148  8.022148  7.561423  8.101248   0.983541
4      8.022148  8.022148  8.022148  8.022148  7.484636  8.114431  -0.634947
5      8.022148  8.022148  8.022148  8.022148  7.377133  8.132888  -2.417303
6      8.022148  8.022148  8.022148  8.022148  7.215880  8.160573  -4.365371
7      8.022148  8.022148  8.022148  8.022148  6.947123  8.206714  -6.481217
8      8.022148  8.022148  8.022148  8.022148  6.409611  8.298394  -8.767128
9      8.022148  8.022148  8.022148  8.022148  5.763907  8.273934 -11.225616

ts
param      UBAS        PM
h
1      8.022148  8.022148
2      8.022148  8.022148
3      8.022148  8.022148
4      8.022148  8.022148
5      8.022148  8.022148
6      8.022148  8.022148
7      8.022148  8.022148
8      8.022148  8.022148
9      8.022148  8.022148

[9 rows x 120 columns]

In [23]:
# expected value of the overall covariogram calculation
e_covariogram_value = e_covariogram(cov_section_ts_all)
e_covariogram_value.unstack(level=[0,1])

ts       1950-01-01                                                      \
param            C0           ETF            FC          FRAC        K1
h
1      1.009742e-28  1.009742e-28  1.009742e-28  1.009742e-28  2.901177
2      1.009742e-28  1.009742e-28  1.009742e-28  1.009742e-28 -0.391050
3      1.009742e-28  1.009742e-28  1.009742e-28  1.009742e-28 -0.670371
4      1.009742e-28  1.009742e-28  1.009742e-28  1.009742e-28 -1.042799
5      1.009742e-28  1.009742e-28  1.009742e-28  1.009742e-28 -1.564199
6      1.009742e-28  1.009742e-28  1.009742e-28  1.009742e-28 -2.346298
7      1.009742e-28  1.009742e-28  1.009742e-28  1.009742e-28 -3.649797
8      1.009742e-28  1.009742e-28  1.009742e-28  1.009742e-28 -6.256794
9      1.009742e-28  1.009742e-28  1.009742e-28  1.009742e-28 -9.540324

ts                                                                      ...  \
param         K2            LP            PM            TT        UBAS  ...
h                                                                       ...
1      10.198800  1.009742e-28  1.009742e-28  1.009742e-28  268.251183  ...
2       6.755050  1.009742e-28  1.009742e-28  1.009742e-28  175.087538  ...
3       2.781491  1.009742e-28  1.009742e-28  1.009742e-28   65.065472  ...
4      -1.721875  1.009742e-28  1.009742e-28  1.009742e-28  -58.607353  ...
5      -6.755050  1.009742e-28  1.009742e-28  1.009742e-28 -191.466273  ...
6     -12.318032  1.009742e-28  1.009742e-28  1.009742e-28 -328.158699  ...
7     -18.410822  1.009742e-28  1.009742e-28  1.009742e-28 -466.857139  ...
8     -25.033419  1.009742e-28  1.009742e-28  1.009742e-28 -605.039501  ...
9     -32.185825  1.009742e-28  1.009742e-28  1.009742e-28 -735.561591  ...

ts       1950-01-10                                                   \
param            FC          FRAC        K1         K2            LP
h
1      9.860761e-32  9.860761e-32  0.044309   3.704388  9.860761e-32
2      9.860761e-32  9.860761e-32 -0.005867   2.421676  9.860761e-32
3      9.860761e-32  9.860761e-32 -0.010057   0.965403  9.860761e-32
4      9.860761e-32  9.860761e-32 -0.015644  -0.665806  9.860761e-32
5      9.860761e-32  9.860761e-32 -0.023467  -2.473567  9.860761e-32
6      9.860761e-32  9.860761e-32 -0.035200  -4.459743  9.860761e-32
7      9.860761e-32  9.860761e-32 -0.054755  -6.626442  9.860761e-32
8      9.860761e-32  9.860761e-32 -0.093866  -8.976018  9.860761e-32
9      9.860761e-32  9.860761e-32 -0.140849 -11.511072  9.860761e-32

ts
param            PM            TT          UBAS     alpha          beta
h
1      9.860761e-32  9.860761e-32  9.860761e-32  0.001742  9.860761e-32
2      9.860761e-32  9.860761e-32  9.860761e-32 -0.000205  9.860761e-32
3      9.860761e-32  9.860761e-32  9.860761e-32 -0.000366  9.860761e-32
4      9.860761e-32  9.860761e-32  9.860761e-32 -0.000569  9.860761e-32
5      9.860761e-32  9.860761e-32  9.860761e-32 -0.000854  9.860761e-32
6      9.860761e-32  9.860761e-32  9.860761e-32 -0.001281  9.860761e-32
7      9.860761e-32  9.860761e-32  9.860761e-32 -0.001993  9.860761e-32
8      9.860761e-32  9.860761e-32  9.860761e-32 -0.003407  9.860761e-32
9      9.860761e-32  9.860761e-32  9.860761e-32 -0.003030  9.860761e-32

[9 rows x 120 columns]

In [24]:
# sobol value
sobol_value = sobol_eq(variogram_value, e_covariogram_value, var_overall)
sobol_value

ts          param
1950-01-01  C0       3.044676e-31
            ETF      3.044676e-31
            FC       3.044676e-31
            FRAC     3.044676e-31
            K1       1.557142e-02
                         ...
1950-01-10  PM       1.837266e-32
            TT       1.837266e-32
            UBAS     1.837266e-32
            alpha    5.901966e-04
            beta     1.837266e-32
Length: 120, dtype: float64

In [26]:
variogram_value

ts          param  h
1950-01-01  TT     1    0.0
                   2    0.0
                   3    0.0
                   4    0.0
                   5    0.0
                       ...
1950-01-10  PM     5    0.0
                   6    0.0
                   7    0.0
                   8    0.0
                   9    0.0
Length: 1080, dtype: float64

In [27]:
ivars_values = [0.1, 0.3, 0.5]
delta_h = 0.1
ivars_df = pd.DataFrame.from_dict({scale: variogram_value.groupby(level=['ts', 'param']).apply(ivars, scale=scale, delta_h=delta_h) \
                      for scale in ivars_values}, 'index')
ivars_df

    1950-01-01                                                              \
            TT   C0  ETF   LP   FC beta FRAC        K1     alpha        K2
0.1        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.113148  0.190116  0.039736
0.3        0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.129821  2.123809  0.754976
0.5        0.0  0.0  0.0  0.0  0.0  0.0  0.0  2.684981  5.132416  3.377525

     ... 1950-01-10                                                         \
     ...        ETF   LP   FC beta FRAC        K1     alpha        K2 UBAS
0.1  ...        0.0  0.0  0.0  0.0  0.0  0.001631  0.000071  0.015632  0.0
0.3  ...        0.0  0.0  0.0  0.0  0.0  0.016633  0.000562  0.288255  0.0
0.5  ...        0.0  0.0  0.0  0.0  0.0  0.039649  0.001287  1.259362  0.0


      PM
0.1  0.0
0.3  0.0
0.5  0.0

[3 rows x 120 columns]